.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgotPasswordCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-navbar);
  border: none;
  padding: 30px;
  margin: 0 20px;
}
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.forgotPasswordForm label {
  padding-top: 10px;
  padding-bottom: 6px;
  font-size: 18px;
}
.forgotPasswordForm input {
  border-radius: 4px;
  width: 100%;
}

.forgotPasswordSubmit {
  margin-top: 20px;
  align-self: center;
}

.forgotPasswordSubmit:disabled,
.forgotPasswordSubmit:focus:disabled,
.forgotPasswordSubmit:hover:disabled,
.forgotPasswordSubmit:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
